body {
    background-color: #ffe973;
}

.cursor:hover {
    color: green;
    font-weight: bold;
}

.visit:link:hover {
    font-weight: bold;
    color: green;
}

.forma {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
}

.forma input {
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

.forma label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.forma input:focus {
    background-color: red;
}

.forma input:active {
    background-color: blue;
}

.parent:hover .child {
    background-color: gray;
    border: 2px solid red;
}

td {
    border: 2px solid blue;
    padding: 10px;
    text-align: center;
    font: bold italic 100% serif;
}

table:hover {
    background-color: gray;
    border-collapse: collapse;
}

td:hover {
    border: 2px solid blue;
    background-color: white;
}

.new:after {
    content: "new";
    color: #f00;
}