/* Меню сайта */

.container {
    margin: auto;
    width: 70%;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header img {
    display: flex;
    height: 100px;
    margin: 10px;
    float: left;
}

.menu {
    display: flex;
    flex-direction: row;
    clear: both;
    margin: 20px;
    align-items: center;
    width: 100%;
    justify-content: space-around;

}

.menu_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    clear: both;
    background-color: #3ECE85;
}

.menu_items:hover {
    background-color: white;
}

.menu_items:hover a {
    color: #912705;
}

.menu_items a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    margin: auto;
}

/* Контент-главная */

.content {
    margin: 10px;
}

/* Контент-каталог */

.catalog_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Impact";
    background-color: #67A3C6;
    color: #063C5C;
}

.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

}

.catalog a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Impact";
}

.image img {
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 }

.image img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }


/* products */

.border_prod {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 10 px;
}

.table_prod,  .table_prod td{
    border: 2px solid black;
    border-collapse: collapse;
}

.border_prod img {
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    width: 30%;
    border: 2px solid red;
}

.border_prod img:hover {
    border: 2px solid #f8f8f8;
}

.pr {
    display: block;
    margin-left: 20px;
    width: 70%
}

.pr a {
    text-decoration: none;
}

.pr a:visited .buy {
    background-color: #4496C6;
}

.pr ul {
    list-style-image: url(marker.png);
}

.pr h4{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}


.pr h4 + p {
    color:  #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.pr p:first-letter {
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
}

.short_description {
    color:  #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.buy {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #EF9275;
    color: white;
    font-family: "Arial";
    font-size: 20px;
    padding: 5px;
    border-radius: 50px 50px 50px 50px;
}

.buy:hover {
    background-color: #DE4110;
}

/* Контакты */

.contacts {
    display:flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    align-items: stretch;
}

.contacts form {
    display: block;
    width: 30%;
    margin-right: 10px;
}

.contacts iframe {
    display: block;
    margin: 15px;
    width: 70%;
    height: 410px;
}

.contacts_2 input:focus {
    background-color: #BDE8EE;
    color: #314A93;
}

.contacts_2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.contacts input, textarea {
    width: 100%;
}
.contacts input[value="Отправить"], input[value="Очистить"] {
    width: 100px;
}

/* Подвал сайта */

footer {
    margin-top: 10px;
    height: 200px;
    background-color: #67A3C6;
}

footer p {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}