/* menu-style */

body {
    background-color: #f8f8f8;
}

header a {
    font-size: 30px;
    text-decoration: none;
    color: #B9C545;
    font-weight: bold;
}

header a:hover {
    color: #CA2229;
}

header div {
    display: flex;

}

header div img {
    width: 80px;
    height: 130px;
}

header div ul {
    list-style: none;
}

/* products */

.border_prod {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.table_prod,  .table_prod td{
    border: 2px solid black;
    border-collapse: collapse;
}

.border_prod img {
    float: left;
    margin-right: 20px;
    width: 30%;
    border: 2px solid red;
}

.border_prod img:hover {
    border: 2px solid #f8f8f8;
}

.pr {
    display: block;
    margin-left: 20px;
    width: 70%
}

.pr ul {
    list-style-image: url(marker.png);
}

.pr h4{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}


.pr h4 + p {
    color:  #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.pr p:first-letter {
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
}

.short_description {
    color:  #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

/* Contacts.html */
.contacts {
    display:flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    align-items: stretch;
}

.contacts form {
    display: block;
    width: 30%;
}

.contacts iframe {
    display: block;
    margin: 15px;
    width: 70%;
    height: 410px;
}

.contacts_2 input:focus {
    background-color: #BDE8EE;
    color: #314A93;
}

.contacts_2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.contacts input, textarea {
    width: 100%;
}
.contacts input[value="Отправить"], input[value="Очистить"] {
    width: 100px;
}

/* catalog.html */

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaea;
    margin: 0px;
}

.catalog_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}

.catalog_2 img {
    border: 2px solid #B9C545;
}

.catalog_2 div {
    background-color: #B9C545;
    font-size: 18px;
    text-align: center;
}

.catalog_2 div a {
        text-decoration: none;
}
