/*#container, footer, header, nav, #content, #navbar, #articles, #welcome_to_surfhouse,
#header_banner, .product_sections, .general_productpage {
    border: 2px solid black;
}*/

/* general */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background: #f8f8f8;
    position: relative;
    left: 0;
    margin: 0;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#container>img {
    display: block;
    width: 80%;
    margin: auto;
}

/* pop-up menu *//*---------------------------------------------------------------------------------------------------*/

nav {
    position: fixed;
    display: block;
    width: 250px;
    margin-left: -250px;
    font-family: "Arial";
    font-weight: bold;
    color: black;
    background: #26D2FC;
    height: 100%;
}

/*====================================================================================================================*/

.icon-close {
    cursor: pointer;
    margin-top: 5px;
    height: 35px;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    position: fixed;
    top: -100px;
    left: 10px;
    z-index: 1;
}

header > .icon-menu img {
    width: 40px;
}

/*====================================================================================================================*/

nav li, nav summary {
    cursor: pointer;
    padding-left: 40px;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;/* выравнивание по вертикати !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

nav summary {
	margin-left: -1.1em;
	color: black;
    height: 50px;
    line-height: 50px;
}

nav li:hover a, nav summary:hover  {
    color: white;
}

nav li:hover, nav summary:hover {
    background-color: #333333;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/* header */

header {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 600px;
    background-color: #ABEAFA;
    font-family: "Arial";
    font-weight: bold;
}

.logo,
.header_smm,
#welcome_to_surfhouse,
#header_banner {
    position: absolute;
}

.map {
    width: 100%;
    height: 1000px;
}

header iframe {
    height: 100%;
    width: 100%;
}

.logo {
    top: 20px;
    left: 15%;
}

.header_smm {
    display: flex;
    flex-wrap: nowrap;
    right: 10%;
    top: 85px;
}

.header_smm img {
    height: 20px;
    margin: 5px;
}

.header_smm img:hover {
    filter: invert(1);
}

#welcome_to_surfhouse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF51F;
    width: 250px;
    height: 300px;
    left: 10%;
    top: 230px;
    font-size: 14px;
}

#welcome_to_surfhouse h1,
#welcome_to_surfhouse p {
    margin: 7px 15px;
}

#welcome_to_surfhouse p {
    font-style: italic;
}

#header_banner {
    color: #FFF51F;
    width: 300px;
    height: 300px;
    right: 10%;
    top: 200px;
    margin: 0px;
    font-size: 20px;
}

#header_banner>a {
    display: block;
    background-color: #FFF51F;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px;
    width: 100px;
    text-align: center;
    color: black;
    font-size: 15px;
}

/* content */

#content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: -20px;
    font-weight: bold;
    font-family: "Arial";
    width: 80%;
    flex: 1 0 auto;
}

/* navbar */

#navbar {
    position: absolute;
    z-index: 1;
    display: block;
    float: left;
    width: 250px;
    font-family: "Arial";
    font-weight: bold;
}

#navbar a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

navbar li {
    position:relative;
    cursor: pointer;

}

navbar ul {
    position:absolute;
}

#navbar>ul {
    list-style-type: none;
}

#navbar>ul>li:hover .href_menu {
    color: white;
}

#navbar>ul>li:hover {
    background-color: #333333;
}

/*------------------------------------------------------------------------------------------------------------------*/

#navbar_head {
    display: block;
    background-color: #333333;
    color: white;
    padding: 10px 10px 10px 15px;
}

/*------------------------------------------------------------------------------------------------------------------*/

.navbar_submenu {
    width: 80%;
}

.navbar_submenu_submenu {
    width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------*/

.navbar_submenu, .navbar_submenu_submenu {
    display: none;
    margin-left: 100%;
    margin-top: -35px;
    list-style-type: none;
}

#navbar>ul>li:hover .navbar_submenu,
.navbar_submenu>li:hover .navbar_submenu_submenu {
    display: block;
}

.navbar_submenu>li>a:before,
.navbar_submenu_submenu>li>a:before {
    content: "\2022 ";
    color: white;
}

#navbar>ul>li,
.navbar_submenu>li,
.navbar_submenu_submenu>li {
    background: #26D2FC;
    height: 35px;
    padding-left: 15px;

}

/* nav banner */

.banner {
    display: block;
    margin-top: 20px;
    background-color: #EAEAEA;
    height: 300px;
    width: 250px;
    float: left;
    margin-top: 450px;
}

.banner img {
    width: 40%;
    margin: 50% 5% 0px 55%;
}

/* articles */

#articles {
    display: block;
    flex-direction: column;
    float: right;
    width: calc(100% - 280px);
    height: 100%;
}

.breadcrumbs {
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
}

.breadcrumbs>a[href="#"] {
    background: yellow;
}

.breadcrumbs>a {
    text-decoration: none;
    color: black;
}

.breadcrumbs>a:hover {
    color: blue;
}

/* contacts */

.contacts,
.contacts>form,
.contacts_inf,
#submit_contacts {
    display: flex;
}

.contacts {
    flex-wrap: nowrap;
    margin-top: 80px;
    font-weight: bold;
    font-family: "Arial";
}

.contacts>form{
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: -20px;
    font-weight: bold;
    font-family: "Arial";
}

.contacts textarea {
    height: 200px;
}

.contacts_inf {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 30px;
    width: 100%;
}

#submit_contacts>input {
    margin: 20px 20px 20px 0px;
    width: 100px;
    border: 0px;
    background: #26D2FC;
    padding: 5px;
    font-weight: bold;
}

/* product list */

.img_product {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: #EAEAEA;
}

.img_markers {
    position: absolute;
    width: 50px;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

#product_list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    background: #f8f8f8;
}

#product_list>h2 {
    margin: 30px 40px 0px;
    font-style: italic;
}

.product_sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    margin: 10px;
    clear: both;
}

.product {
    position: relative;
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.in_product {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
}

/* product page */

.general_productpage,
.productpage_img,
.productpage_short_description,
.productpage,
.productpage_img_color {
    display: flex;
}

.general_productpage,
.productpage_img,
.productpage_short_description {
    flex-direction: column;
}

.general_productpage,
.productpage,
.productpage_img,
.productpage_short_description {
    height: 100%;
}

.general_productpage>h4 {
    display: block;
    background-color: #26D2FC;
    margin-left: 5px;
    margin-top: 50px;
    padding: 5px;
    font-size: 15px;
    width: 185px;
}

.productpage_img {
    width: 50%;
}

.productpage_img>img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background: black;
}

.productpage_img_color {
    justify-content: space-around;
    margin: auto;
    width: 300px;
}

.productpage_img_color>img {
    width: 50px;
    height: 100px;
    margin: 10px;
    background: red;
}

.productpage_short_description {
    width: 50%;
    padding: 10px;
}

.productpage_short_description>h3 {
    font-style: italic;
}

.productpage_short_description>a {
    display: block;
    background: #FB4D01;
    color: white;
    padding: 5px;
    margin: auto;
    text-decoration: none;
}

.productpage_short_description>a:hover {
    filter: invert(1);
}

.productpage_product_description, .productpage_short_description>p {
    color: gray;
 }

 .productpage_product_description {
    margin: auto;
    border: 1px solid gray;
    padding: 5px;
}

.productpage_product_description>ul {
    list-style-type: none;
}

/* brand and instagram*/

#brand>a>img {
    width: 80px;
    margin: 20px 15px 20px;
}

#general_brand {
    flex: 1 0 auto;
    margin-bottom: -25px;
    width: 80%;
    margin: auto;
}

#inst_tape,
#general_brand,
#instagram_img,
#brand {
    display: flex;
    justify-content: space-around;
}

#instagram_img {
    background: #EAEAEA;
    width: 100%;
}

#general_brand,
#instagram_img {
    flex-direction: column;
    align-items: center;
}

#instagram_img>a>img {
    display: block;
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#inst_tape>img {
    margin: auto;
    width: 17%;
    height: 17%;
    margin-bottom: 60px;
}

#brand {
    background: white;
    flex-wrap: wrap;
    width: 100%;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    color: white;
    flex: 0 0 auto;
    width: 100%;
}

#footer_general_block {
    display: block;
    flex-direction: column;
    color: white;
    margin:auto;
    background: #373737;
    width: 100%;
}

#footer_block_list {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 20px auto;
}

.footer_list {
    list-style-type: none;
    width: 100%;
    margin: 0px 3px 0px 3px;
}

.footer_list>h4 {
    display: block;
    margin-bottom: 10px;
}

.footer_list a {
    text-decoration: none;
    color: white;
}

#address {
    color: #FFF51F;
}

.footer_list input {
    border: 0px;
    padding: 5px;
    margin: 0px;
}

.footer_list input[type="text"] {
    background-color: #FFF51F;
    width:60%;
}

.footer_list input[type="submit"] {
    background-color: black;
    color: white;
    width: 30%;
}

#payment_systems {
    margin-top: 50px;
}

#payment_systems img {
    width: 13%;
    margin: 2px;
}

/* footer smm content */

#smm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 150px;
    width: 80%;
    margin: 0 10% 0;
    text-align: center;
    margin-top: 30px;
}

#smm a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#smm img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 40%;
}

#facebook {
    background-color: #3B5997;
}

#twitter {
    background-color: #3FCCFD;
}

#pinterest {
    background-color: #CB2027;
}

/* copyright */

#footer_copyrigth {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #333333;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 50px; /* выровняли по вертикали */
}

#footer_copyrigth_smm {
    display: block;
    height: 100%;
    padding: 5px;
}

#footer_copyrigth_smm img {
    height: 20px;
    padding: 5px;
}

#footer_copyrigth_smm img:hover {
    filter: brightness(0) invert(1);
}




/* media */

@media screen and (max-width: 800px) {
    #navbar,
    .banner,
    #footer_block_list,
    #footer_copyrigth_smm,
    #header_banner,
    #brand {
        display: none;
    }
    #articles {
        width: 100%;
    }
    .icon-menu {
        top: 5px;
    }
}