/*#container, footer, header, nav, #content, #navbar, #articles, #welcome_to_surfhouse,
#header_banner, .product_sections {
    border: 2px solid black;
}*/

/* general */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

/* header */

header {
    margin: 0px;
    padding: 0px;
    height: 600px;
    background-color: #ABEAFA;
    font-family: "Arial";
    font-weight: bold;
}

header>iframe,
.logo,
.header_smm,
#welcome_to_surfhouse,
#header_banner {
    position: absolute;
}

header>iframe {
    height: 1000px;
}

.logo {
    top: 20px;
    left: 15%;
}

.header_smm {
    display: flex;
    flex-wrap: nowrap;
    right: 10%;
    top: 85px;
}

.header_smm img {
    height: 20px;
    margin: 5px;
}

.header_smm img:hover {
    filter: invert(1);
}

#welcome_to_surfhouse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF51F;
    width: 250px;
    height: 300px;
    left: 5%;
    top: 230px;
    font-size: 14px;
}

#welcome_to_surfhouse h1,
#welcome_to_surfhouse p {
    margin: 7px 15px;
}

#welcome_to_surfhouse p {
    font-style: italic;
}

#header_banner {
    color: #FFF51F;
    width: 300px;
    height: 300px;
    right: 10%;
    top: 200px;
    margin: 0px;
    font-size: 20px;
}

#header_banner>a {
    display: block;
    background-color: #FFF51F;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px;
    width: 100px;
    text-align: center;
    color: black;
    font-size: 15px;
}

/* content */

#content {
    width: 90%;
    margin: auto;
    margin-top: -10px;
    font-weight: bold;
    font-family: "Arial";
}

/* navbar */

#navbar {
    position: absolute;
    display: block;
    float: left;
    width: 250px;
    text-decoration: none;
    font-family: "Arial";
    font-weight: bold;
}

#navbar a {
    text-decoration: none;
    color: black;
}

navbar li {
    position:relative;
}

navbar ul {
    position:absolute;
}

#navbar>ul {
    list-style-type: none;
}

#navbar>ul>li:hover .href_menu {
    color: white;
}

#navbar>ul>li:hover {
    background-color: #333333;
}

/*------------------------------------------------------------------------------------------------------------------*/

#navbar_head {
    display: block;
    background-color: #333333;
    color: white;
    padding: 10px 10px 10px 15px;
}

/*------------------------------------------------------------------------------------------------------------------*/

.navbar_submenu {
    width: 80%;
}

.navbar_submenu_submenu {
    width: 100%;
}

/*------------------------------------------------------------------------------------------------------------------*/

.navbar_submenu, .navbar_submenu_submenu {
    display: none;
    margin-left: 102%;
    margin-top: -25px;
    list-style-type: none;
}

#navbar>ul>li:hover .navbar_submenu,
.navbar_submenu>li:hover .navbar_submenu_submenu {
    display: block;
}

.navbar_submenu>li:before,
.navbar_submenu_submenu>li:before {
    content: "\2022 ";
    color: white;
}

#navbar>ul>li,
.navbar_submenu>li,
.navbar_submenu_submenu>li {
    background: #26D2FC;
    height: 20px;
    padding: 5px 5px 5px 15px;
}

/* nav banner */

.banner {
    display: block;
    margin-top: 20px;
    background-color: #EAEAEA;
    height: 300px;
    width: 250px;
    float: left;
    margin-top: 400px;
}

.banner img {
    width: 40%;
    margin: 50% 5% 0px 55%;
}

/* articles */

#articles {
    display: flex;
    flex-direction: column;
    float: right;
    width: calc(100% - 280px);
    height: 100%;
}

.breadcrumbs {
    margin-top: 20px;
    text-align: left;
}

.breadcrumbs>a {
    text-decoration: none;
    color: black;
}

.breadcrumbs>a:hover {
    color: blue;
}

/* contacts */

.contacts {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 80px;
    font-weight: bold;
    font-family: "Arial";
}

.contacts form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: -20px;
    font-weight: bold;
    font-family: "Arial";
}

.contacts textarea {
    height: 200px;
}

.contacts_inf {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 30px;
    width: 100%;
}

/* product list */

#product_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background: #f8f8f8;
}

#product_list>h2 {
    margin: 30px 40px 0px;
}

.product_sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.product {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.product>img {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: #EAEAEA;
}

.in_product {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    color: white;
    flex: 0 0 auto;
}

#footer_general_block {
    display: flex;
    flex-direction: column;
    color: white;
    margin:auto;
    background: #373737;
}

#footer_block_list {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 20px auto;
}

.footer_list {
    list-style-type: none;
    width: 100%;
    margin: 0px 3px 0px 3px;
}

.footer_list a {
    text-decoration: none;
    color: white;
}

#address {
    color: #FFF51F;
}

.footer_list input {
    border: 0px;
    padding: 5px;
    margin: 0px;
}

.footer_list input[type="text"] {
    background-color: #FFF51F;
    width:60%;
}

.footer_list input[type="submit"] {
    background-color: black;
    color: white;
    width: 30%;
}

#payment_systems {
    margin-top: 50px;
}

#payment_systems img {
    width: 13%;
    margin: 2px;
}

/* footer smm content */

#smm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 150px;
    width: 80%;
    margin: 0 10% 0;
    text-align: center;
    margin-top: 30px;
}

#smm a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#smm img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 40%;
}

#facebook {
    background-color: #3B5997;
}

#twitter {
    background-color: #3FCCFD;
}

#pinterest {
    background-color: #CB2027;
}

/* copyright */

#footer_copyrigth {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #333333;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 50px; /* выровняли по вертикали */
}

#footer_copyrigth_smm {
    display: block;
    height: 100%;
    padding: 5px;
}

#footer_copyrigth_smm img {
    height: 20px;
    padding: 5px;
}

#footer_copyrigth_smm img:hover {
    filter: brightness(0) invert(1);
}




/* media */

@media screen and (max-width: 800px) {
    #navbar,
    .banner,
    #footer_block_list,
    #footer_copyrigth_smm,
    #header_banner {
        display: none;
    }
    #articles {
        width: 100%;
    }
}